.chat-main
 .chat-main__group-info
  .chat-main__left-box
   .chat-main__current-group
    = @group.name
   .chat-main__member-list
    = "Member : " + current_user.name
  .chat-main__right-box
  .chat-main__edit-box
   =link_to edit_group_path(@group), class: "edit__btn" do
    Edit
 .messages
  = render @messages

 .chat-main__message-form
  = form_for [@group, @message] do |f|
   .chat-main__message-area
    .chat-main__form-left
     = f.text_field :content, class: 'input-form', placeholder: 'type a message'
     .input-box__image
      = f.label :image do
       = icon('fas', 'image')
       =f.file_field :image, class: 'hidden'
    -#  .input-form{:name =>"text", :placeholder =>"type a message"}
    -#   %label{class: "input-box__image"}
    -#    = icon('fas', 'image')
    -# %input{type: "file", class: "input-box__text"}
    -#  =link_to "#", class: "send__btn" do
    -#   send
    = f.submit 'Send', class: 'send__btn'
    

