.side-var
 .side-var__user-name
  = current_user.name
  .top-items
   .top-items__name
   .top-items__icons
    .top-items__icons__new__users
    = link_to new_group_path do
     = icon('fa', 'edit')
    .top-items__icons__edit__users
    = link_to edit_user_path(current_user) do
     = icon('fa', 'cog') 

 .side-var__group-list
  - current_user.groups.each do |group|
   .side-var__list
   = link_to '#' do
    .side-var__group-name
     = group.name
    .side-var__message-list
     まだメッセージがありません