.side-var
 .side-var__topics
  .side-var__box
   .side-var__name
    = current_user.name
  .top-items
   .top-items__icons
    .top-items__icons__new__users
     = link_to new_group_path do
      = icon('fa', 'edit')
    .top-items__icons__edit__users
     = link_to edit_user_path(current_user) do
      = icon('fa', 'cog') 

 .groups
  - current_user.groups.each do |group|
   = link_to group_messages_path(group) do
    .group
     %p.side-var__group-name
      = group.name
     %p.side-var__message-list
      = group.show_last_message